USE [OnlineStore]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 10.04.2023 0:07:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NULL,
	[price] [money] NULL,
	[author] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[date] [datetime] NULL,
	[popular] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([id], [name], [price], [author], [description], [image], [date], [popular]) VALUES (1, N'Тайна затерянной пирамиды', 500.0000, N'Андрей Ковалев', N'Группа археологов отправляется на поиски затерянной пирамиды в пустыне. Но они не ожидали, что найдут не только древние сокровища, но и опасность, которая угрожает им всем.', NULL, CAST(N'2021-06-15T00:00:00.000' AS DateTime), 4)
INSERT [dbo].[Books] ([id], [name], [price], [author], [description], [image], [date], [popular]) VALUES (2, N'Закон джунглей', 450.0000, N'Сергей Иванов', N'История о жизни молодого парня, который вынужден выживать в джунглях после крушения самолета. Он находит новых друзей и противников, и каждый день становится для него испытанием.', NULL, CAST(N'2021-07-10T00:00:00.000' AS DateTime), 5)
INSERT [dbo].[Books] ([id], [name], [price], [author], [description], [image], [date], [popular]) VALUES (3, N'Секреты заброшенного замка', 550.0000, N'Елена Николаева', N'Группа подростков отправляется на исследование заброшенного замка, но они не ожидали, что найдут там не только мистические сокровища, но и темные секреты, которые преследуют их их детства.', NULL, CAST(N'2021-09-05T00:00:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
